.background{
    background-image: url('./img/contact-bg.jpg');
    background-color: rgba(0, 105, 255, 0.5);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.map{
    height: 45vh;
}

.message{
    height: 20vh;
}

@media screen and (min-width: 576px) {
    .map{
        min-height: max-content;
    }

    .message{
        height: 26.4vh
    }
}

@media  screen and (min-width: 992px) {
    .message{
        height: 31vh;
    }
}