@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    font-family: "Nunito Sans";
}

.nav-link.active{
    color: white!important;
}


/* Home style */
.home-background{
    margin-bottom: 25%;
}

.bg-home {
    background-image: url("./style/img/hero-bg-mobile.jpg");
    background-color:rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 95vh;
}

.home-title{
    font-size: 3.3em;
}

.home-work{
    font-size: 1.75em;
}

@media screen and (min-width: 576px) {
    .home-background{
        margin-bottom: 10%;
    }
    .bg-home{
        background-image: url("./style/img/hero-bg-tablette.jpg");
        background-color:rgba(0, 0, 0, 0.3);
        background-blend-mode: multiply;
        background-position-x: 80%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 45vh;
    }
}

@media  screen and (min-width: 992px) {
    .bg-home{
        background-image: url("./style/img/hero-bg.jpg");
        background-color:rgba(0, 0, 0, 0.3);
        background-blend-mode: multiply;
        background-size: cover;
        background-repeat: no-repeat;
        height: 75vh;
    }
}

.my-photo{
    width: 100%;
}

.bg-headerBackground{
    background-color: #1e1e1e ;
    
};
